.login-section {
    background-color: #333;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.login-container {
    width: 400px;
    text-align: center;
}
.login-container h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.login-intro {
    color: white;
    margin-bottom: 30px;
}