 .hero-adhesion {
    background-color: #2c3e50;
    color: white;
    padding: 40px;
}

.hero-adhesion h1 {
    font-size: 45px;
}
.hero-adhesion p {
    font-size: 20px;
    margin-top: 15px;
}
.card-adhesion {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
}
.cards-container {
    display: flex;
    gap: 15px;
}

.card-adhesion h3 {
    font-size: 28px;
    color: #333;
}

.card-adhesion .price {
    font-size: 24px;
    color: orange;
}
