html,

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body h1,
h2 {
    font-family: 'SigmarOne', sans-serif;
}

body {
    font-family: 'Poppins-Regular', sans-serif;
}

.container {
    /*permet d'avoir des marges égales sur toute mes pages
    A CONDITION D'AJOUTER UNE CLASS .container à chaque page svp*/
    max-width: 1000px;
    margin: 0 auto;
    padding-left: clamp(12px, 3vw, 60px);
    padding-right: clamp(12px, 3vw, 60px);
}


/* BOUTON réutilisable */
.btn-events {
    display: inline-block;
    margin-top: 3rem;
    padding: 0.8rem 1.6rem;
    border: 3px solid #DD5D13;
    color: #DD5D13;
    background: transparent;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 600;
    margin-bottom: 3rem;
}


.btn-events:hover {
    background-color: #DD5D13;
    color: #ffffff;
    cursor: pointer;
}


/* =========================
   HEADER
========================= */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, .28);
    backdrop-filter: blur(8px);
}

.in-header {
    display: grid;
    grid-template-columns: 140px 1fr auto;
    align-items: center;
    height: 90px;
    gap: 24px;
}

/* Logo */
.logo img {
    height: 56px;
    width: auto;
    display: block;
}

/* une seule nav pour les deux */
#navSlot {
    justify-self: stretch;
    width: 100%;
}

/* La nav est un bloc (son contenu est flex) */
.main-nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    /* liens / bouton */
    align-items: center;
    column-gap: 32px;
}

.main-nav ul {
    justify-self: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 38px;
}

.main-nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, .95);
    font-size: 18px;
    font-weight: 500;
}

.bouton-contact {
    justify-self: center;
    background: #DD5D13;
    color: #fff;
    padding: 13px 25px;
    border-radius: 15px;
    font-weight: 700;
    white-space: nowrap;
}

.burger-bouton,
.close-bouton {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    width: 35px;
    height: 30px;
    display: none;
    align-items: center;
    justify-content: center;
}

.burger-bouton img,
.close-bouton img {
    width: 35px;
    height: 30px;
    display: block;
}

.mobile-menu {
    display: none;
}

/* MOBILE*/
@media (max-width: 768px) {

    .in-header {
        grid-template-columns: 1fr auto;
        height: 110px;
    }

    .in-header {
        position: relative;
    }

    .burger-bouton {
        display: flex;
        position: absolute;
        top: 50%;
        right: clamp(12px, 3vw, 60px);
        transform: translateY(-50%);
    }

    .mobile-menu .close-bouton {
        display: flex;
        position: absolute;
        top: 55px;
        right: clamp(12px, 3vw, 60px);
        transform: translateY(-50%);
    }


    /* La nav ne doit pas être visible dans le header en mobile */
    #navSlot .main-nav {
        display: none;
    }

    .mobile-menu {
        position: fixed;
        inset: 0;
        width: 100vw;
        height: 100vh;
        background: #B9DAA3;
        z-index: 9999;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .mobile-menu.is-open {
        display: flex;
    }

    /* quand la nav est dans le menu, on la met en colonne et on centre */
    #menuSlot .main-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    #menuSlot .main-nav ul {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    #menuSlot .main-nav a {
        font-size: 25px;
        font-weight: 600;
        color: #fff;
    }

    #menuSlot .bouton-contact {
        font-size: 25px;
        padding: 18px 36px;
        border-radius: 20px;
    }
}

.no-scroll {
    overflow: hidden;
}




/* =========================
   FOOTER 
========================= */

.site-footer {
    background-color: #B9DAA3;
    font-family: Arial, sans-serif;
    color: #000;
}

.footer-top {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 40px 0 0;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.footer-column p,
.footer-column li {
    line-height: 1.6;
}

.footer-column.logo img {
    width: auto;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 6px;
}

.footer-column a {
    color: #000;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.site-footer hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid #000;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 0 30px;
}

.footer-links a {
    margin: 0 15px 0 0;
    color: #000;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.admin-link {
    color: inherit;
    text-decoration: none;
}


.admin-link:visited {
    color: inherit;
}

/* ---------- IMAGE ---------- */

.footer-image img {
    width: 100%;
    display: block;
}

.footer-column.logo {
    padding-bottom: 24px;
}

@media (min-width: 768px) {
    .footer-top {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        padding: 50px 40px 0;
    }

    .footer-bottom {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px 30px;
    }

    .site-footer hr {
        margin: 40px 40px 0;
    }
}

@media (min-width: 1024px) {
    .footer-top {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 60px;
        padding: 60px 60px 0;
    }

    .footer-column h3 {
        font-size: 18px;
    }

    .footer-column p,
    .footer-column li {
        font-size: 15px;
    }

    .footer-bottom {
        font-size: 14px;
        padding: 0 60px 40px;
    }

    .site-footer hr {
        margin: 40px 60px 25px;
    }
}



/* =========================
   TYPOGRAPHIE
========================= */
@font-face {
    font-family: 'SigmarOne';
    src: url('../typo/SigmarOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('../typo/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../typo/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../typo/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../typo/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SigmarRegular';
    src: url('../typo/Sigmar-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'SigmarOne', sans-serif;
    font-size: 65px;
    line-height: 1.2;
    margin-bottom: 20px;
}

h2 {
    font-family: 'SigmarRegular', sans-serif;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 2rem;
    color: #294F0C;
}

h3 {
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 2rem;
}

button,
.button {
    font-family: 'Poppins-ExtraBold', sans-serif;
    font-size: 18px;
}

p {
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 14px;
}

.hero {
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}