html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body h1,
h2 {
    font-family: 'SigmarOne', sans-serif;
}

body {
    font-family: 'Poppins-Regular', sans-serif;
}

.container { /*me permet d'avoir des marges égales sur toute mes pages
    A CONDITION D'AJOUTER UNE CLASS .container svp*/
    
    max-width: 1000px;
    margin: 0 auto;
    padding-left: clamp(12px, 3vw, 60px);
    padding-right: clamp(12px, 3vw, 60px);
}


/* =========================
   HEADER
========================= */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, .28);
    backdrop-filter: blur(8px);
}


.in-header {
    grid-template-columns: 140px 1fr 170px;
    margin: 0 auto;
    height: 90px;
    display: grid;
    align-items: center;
}


.logo {
    display: flex;
    align-items: center;
}


.logo img {
    height: 56px;
    width: auto;
    display: block;
}


.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
}

.main-nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.95);
    font-size: 18px;
    font-weight: 500;
    padding: 10px 6px;
    border-radius: 10px;
}


.bouton-reservation {
    text-decoration: none;
    background: #e36a12;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    border-radius: 15px;
}

.burger-bouton,
.close-bouton {
    display: none;
}


/* =========================
   HEADER MOBILE
========================= */

@media (max-width: 768px) {

    .main-nav,
    .bouton-reservation {
        display: none;
    }

    .burger-bouton {
        display: flex;
    }


    .in-header {
        grid-template-columns: 1fr auto;
        height: 110px;
    }

    .logo img {
        height: 60px;
    }

    .burger-bouton {
        background: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
        width: 35px;
        height: 30px;
        align-items: center;
        justify-content: center;
    }

    .burger-bouton img {
        width: 35px;
        height: 30px;
        display: block;
    }


    /* MENU BURGER */
    .mobile-menu {
        display: none;
        position: fixed;
        inset: 0;
        z-index: 2000;
        background: #b7d6a4;
    }

    .mobile-menu .main-nav {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .mobile-menu .main-nav ul {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .mobile-menu .main-nav a {
        font-size: 25px;
        font-weight: 600;
        color: #ffffff;
        padding: 0;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        inset: 0;
        width: 100vw;
        height: 100vh;
        background: #B9DAA3;
    }

    .mobile-menu.is-open {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }

    .mobile-menu.is-open .cta-mobile {
        display: inline-flex;
        margin-bottom: 62px;
        font-size: 25px;
        padding: 18px 36px;
        border-radius: 20px;
        background: #e36a12;
        color: #ffffff;
    }

}



/* =========================
   FOOTER 
========================= */

.site-footer {
    background-color: #B9DAA3;
    font-family: Arial, sans-serif;
    color: #000;
}

.footer-top {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 40px 0 0;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.footer-column p,
.footer-column li {
    font-size: 14px;
    line-height: 1.6;
}

.footer-column.logo img {
    width: auto;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 6px;
}

.footer-column a {
    color: #000;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.site-footer hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid #000;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 0 30px;
}

.footer-links a {
    margin: 0 15px 0 0;
    color: #000;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* ---------- IMAGE ---------- */

.footer-image img {
    width: 100%;
    display: block;
}

.footer-column.logo {
    padding-bottom: 24px;
}

@media (min-width: 768px) {
    .footer-top {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        padding: 50px 40px 0;
    }

    .footer-bottom {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px 30px;
    }

    .site-footer hr {
        margin: 40px 40px 0;
    }
}

@media (min-width: 1024px) {
    .footer-top {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 60px;
        padding: 60px 60px 0;
    }

    .footer-column h3 {
        font-size: 18px;
    }

    .footer-column p,
    .footer-column li {
        font-size: 15px;
    }

    .footer-bottom {
        font-size: 14px;
        padding: 0 60px 40px;
    }

    .site-footer hr {
        margin: 40px 60px 25px;
    }
}



/* =========================
   TYPOGRAPHIE
========================= */
@font-face {
    font-family: 'SigmarOne';
    src: url('../typo/SigmarOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('../typo/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../typo/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../typo/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../typo/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SigmarRegular';
    src: url('../typo/Sigmar-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'SigmarOne', sans-serif;
    font-size: 65px;
    line-height: 1.2;
    margin-bottom: 20px;
}

h2 {
    font-family: 'SigmarRegular', sans-serif;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 2rem;
    color: #294F0C;
}

h3 {
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 2rem;
}

button,
.button {
    font-family: 'Poppins-ExtraBold', sans-serif;
    font-size: 18px;
}

p {
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 14px;
}

.hero {
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* --- TIMELINE SECTION --- */
.timeline-section {
    padding: 80px 0;
    background-color: #fff;
}

.timeline-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.section-title {
    font-family: 'SigmarOne', sans-serif;
    font-size: 35px;
    margin-bottom: 30px;
}

.timeline-container {
    position: relative;
    padding-left: 40px;
}

.timeline-line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #7a8a45;
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
}

.timeline-dot {
    position: absolute;
    left: -46px;
    top: 5px;
    width: 12px;
    height: 12px;
    background-color: #7a8a45;
    border-radius: 50%;
}

.timeline-date {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 20px;
    color: #000;
    margin: 0 0 10px 0;
}

.timeline-event-title {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}

.timeline-item p {
    font-family: 'Poppins-Regular', sans-serif;
    line-height: 1.6;
    color: #333;
    font-size: 14px;
}


/* --- SECTION NOS VALEURS --- */
.values-section {
    padding: 100px 0;
    background-color: #fff;
    text-align: center;
}

.values-main-title {
    font-family: 'SigmarOne', sans-serif;
    font-size: 56px;
    margin-bottom: 60px;
}

.values-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.value-card {
    background-color: #354a1d;
    border: 1px solid #354a1d;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.value-card:hover {
    transform: translateY(-10px);
}

.value-image-container {
    width: 100%;
    height: 250px;
    background-color: #ccc;
    border-radius: 12px;
    margin-bottom: 24px;
    overflow: hidden;
}

.value-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.value-info {
    padding: 10px;
}

.value-title {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 16px;
}

.value-description {
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
    opacity: 0.9;
}

.value-button {
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: auto;
}

.value-button:hover {
    text-decoration: underline;
}


@media (max-width: 991px) {
    .values-grid {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
}
/* Окно остается таким же */
.values-carousel-window {
    width: 100%;
    overflow: hidden;
}

/* Лента карточек */
.values-grid {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* Убираем gap или делаем его фиксированным */
    gap: 0; 
}

/* Теперь каждая карточка занимает всю ширину окна */
.value-card {
    flex: 0 0 100%; 
    min-width: 100%;
    box-sizing: border-box;
    /* Ваши стили отступов внутри карточки */
    padding: 20px;
}